/* ==========================================================================
   Geral
   ========================================================================== */


body {
  font-family: 'opensansregular', sans-serif;
  color: $cor-branca;
  background-color: $bg-body;
}

