/* ==========================================================================
   Reset
   ========================================================================== */

html,
body,
main { height:100%; }

a{
  color: inherit;
  &:hover,
  &:active,
  &:focus,
  &:focus:hover { transition-duration: 0.1s; }
  &:hover { text-decoration: inherit; }
}


